
@{
    ViewData["Title"] = "About";
}

<h1 class="text-center text-white bg-info">About Hunger Guru<br /></h1>

<h3 class="text-info"><b><u>Tech Stack</u></b></h3>

<ul class="list-group list-group-flush">
    <li class="list-group-item">C#</li>
    <li class="list-group-item">ASP.net Core MVC</li>
    <li class="list-group-item">Bootstrap</li>
</ul>

<h3 class="text-info"><br /><b><u>Inpiration</u></b></h3>
<p class="text-wrap">
    A web app solution to the problem of choosing what to eat without restaurant overload. This is a personal project that I decided to create after many hours wasted scrolling through the endless google pages containing restaurants. <a href ="https://github.com/jcscruggs/Hunger_Guru" target="_blank">See the Source Code.</a>
</p>
<p class="text-wrap">
    In most cities there is almost too many restaurants to choose from no matter the cusisine type. This large collection of restaurants can cause stress and anxiety in some people including myself when trying to sift through them
</p>
<p class="text-wrap">
    Hunger guru is designed to limit this anxiety by cutting down on the almost limitless choices. The user will only need to enter a location, cuisine type, and a few other criteria to get a short list of restaurants.
</p>
<p class="text-wrap">
    To see the Development progress of the Hunger Guru please <a href="https://jaredcscruggs.com/category/dev-update/" target="_blank">visit the Development Blog!</a>
</p>