@model CityInfo
@{
    ViewData["Title"] = "City";
}

<div class="text-center text-black-50 " >
<h1 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" class="text-info">Tell the Guru Where you are located</h1>
</div>
<p class="text-danger">@ViewData["error"] </p>
<form method="post" asp-controller="Home" asp-action="City">

    <div class="form-group">
        <label asp-for="City" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" class="control-label text-info"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="State" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" class="control-label text-info"></label>
        <input asp-for="State" class="form-control" />
        <span asp-validation-for="State" class="text-danger"></span>

        
    </div>
    <div class="form-group">
        <label asp-for="priceRange" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" class="control-label text-info"> </label>
        <select asp-for="priceRange" class="custom-select">
            <option value="0">Choose Price</option>
            <option value="1">$</option>
            <option value="2">$$</option>
            <option value="3">$$$</option>
            <option value="4">$$$$</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Next Step" class="btn btn-info" />
    </div>


</form>
