@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">

        <h1 class="display-4">Are You Hungry?</h1>
        <h1 class="display-4">Let The Hunger Guru Help You Out!</h1>


        <a  asp-action="City"> <button class="btn btn-primary"> Start Here</button> </a>
    </div>
